/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 15%, 50%);
    
}

/* Header styles */
.header {
    position: relative;
    background-image: url('montana.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Navbar styles */
.navbar {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 2;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
}

.logo {
    color: white;
    font-weight: bold;
    margin: 30px 0 0 20px;
}

/* Header text styles */
.header-text {
    text-align: center;
    z-index: 2;
    position: relative;
}

.header-text h1 {
    font-size: 3em;
}

.header-text p {
    font-size: 1.5em;
    margin-top: 10px;
}

/* Page About - About Section */
.about-section h2 {
   font-size: 3em; 
   margin: 30px 0 40px 0; 
}

.about-section {
    padding: 50px; 
    background-color: #f9f9f9; 
    text-align: center; 
}

.about-content {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    text-align: left; 
}

.about-image {
    max-width: 350px; 
    width: 100%; 
    height: auto; 
    margin-right: 40px;
}

.about-text {
    flex: 1; 
    max-width: 600px; 
}

.greeting {
    font-size: 2.5em; 
    font-weight: bold; 
}

.profession {
    font-size: 1.8em; 
    margin-bottom: 20px;
}

.about-description {
    justify-content: space-between; 
    margin: 20px 0; 
    font-size: 18px;
    line-height: 1.5; 
}

.about-info {
    display: flex; 
    justify-content: space-between; 
    line-height: 1.5;
    margin: 20px 0; 
    font-size: 18px;
}

.btn-cv {
    display: inline-block;
    padding: 12px 25px; 
    font-size: 1.1em; 
    background-color: black; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease;
}

.btn-cv:hover {
    background-color: #333; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
}

/* Page About - Skill Section */
.skill-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9; 
}

.skill-section h2 {
    font-size: 3em; 
    margin-bottom: 50px; 
}

.skill-content {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    max-width: 2000px; 
    margin: 0 auto; 
    flex-wrap: wrap; 
}

.skill-description {
    max-width: 600px; 
    margin-right: 50px; 
    text-align: left;
    font-size: 1.2em; 
    line-height: 1.5; 
}

.skill-table {
    width: 400px; 
    text-align: left; 
}

.skill-label {
    display: flex;
    justify-content: space-between; 
    margin: 15px 0; 
    font-size: 1.2em; 
}

.progress {
    height: 20px;
    background-color: #ddd; 
    border-radius: 5px; 
    margin: 10px 0; 
}

.progress-fill {
    height: 100%; 
    background-color: black; 
    border-radius: 5px; 
}
